/* ---------------------------- */
/* desktop bar *
/* ---------------------------- */
.content_container .content_header_desktop {
  width: 100%;

  height: 150px;

  position: sticky;
  top: 0;
  z-index: 2;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  background-color: var(--nav-background);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-bottom: 1px solid var(--border_color);

  padding: 20px;
}
.content_container .content_header_desktop .page_title {
  font-size: 30px;
  font-family: var(--title_font);
  font-weight: bold;
}
.content_container .content_header_desktop .periods_earning {
  font-size: 20px;
  font-family: var(--description_font);
}
/* ---------------------------- */
/* mobile bar *
  /* ---------------------------- */
.content_container .content_header_mobile {
  width: 100%;

  height: 150px;

  position: sticky;
  top: 0;
  z-index: 2;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  background-color: var(--nav-background);

  display: none;
  flex-direction: column;
  justify-content: space-between;

  border-bottom: 1px solid var(--border_color);

  padding: 20px;
}
.content_container .content_header_mobile .top {
  display: flex;
}
.content_container .content_header_mobile .profile_icon {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  margin-right: auto;
}
.content_container .content_header_mobile .profile_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content_container .content_header_mobile .logo {
  width: 200px;
  height: 50px;
  background-color: black;
  /* border-radius: 50%; */
  margin-right: auto;
}
.content_container .content_header_mobile .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content_container .content_header_mobile .periods_earning {
  font-size: 20px;
  font-family: var(--description_font);
}
/* ---------------------------- */
/* scroll container *
  /* ---------------------------- */

.content_container .posts_container {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
}

/* -------------- */
/* posts */
/* -------------- */

.content_container .posts_container .post {
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: space-between;

  padding: 10px;
  border-bottom: 1px solid var(--border_color);

  cursor: pointer;
}
.content_container .posts_container .post:hover {
  background-color: var(--post-hover);
}
/* ----------------- */
/* logo */
/* ----------------- */
.content_container .posts_container .post .logo {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
}
.content_container .posts_container .post .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* ----------------- */
/* content */
/* ----------------- */
.content_container .posts_container .post .content {
  width: calc(100% - 50px);

  display: flex;
  flex-direction: column;
}
/* ----------------- */
/* header */
/* ----------------- */
.content_container .posts_container .post .content .header {
  width: 100%;

  display: flex;
  align-items: center;

  font-size: 16px;

  font-family: var(--title_font);
  flex-wrap: wrap;
}
.content_container .posts_container .post .content .header * {
  font-size: 1em;
}
.content_container .posts_container .post .content .header span:first-child {
  font-weight: bold;

  margin-right: 5px;
}
.content_container .posts_container .post .content .header .flex_wrapper {
  display: flex;
}
.content_container
  .posts_container
  .post
  .content
  .header
  .flex_wrapper
  span:first-child {
  font-weight: normal;
}

.content_container .posts_container .post .content .header .spacer {
  margin: 0 5px;
}
/* ----------------- */
/* body */
/* ----------------- */

.content_container .posts_container .post .content .body {
  width: 100%;
  height: fit-content;
  max-height: 400px;
  overflow-y: scroll;

  /* background-color: black; */
  margin: 5px 0 10px 0;

  font-family: var(--description_font);
}

/* ----------------- */
/* footer */
/* ----------------- */

.content_container .posts_container .post .content .footer {
  width: 100%;
  display: flex;
  align-items: center;
}
/* ----------------- */
/* icons */
/* ----------------- */
.content_container .posts_container .post .content .footer .icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}
.content_container .posts_container .post .content .footer .icon img {
  width: 15.75px;
  height: 15.75px;
  object-fit: cover;
  object-position: center;
}
/* ----------------------- */
/* share icon list styling */
/* ----------------------- */

.content_container .posts_container .post .content .footer .share {
  position: relative;
}
.content_container
  .posts_container
  .post
  .content
  .footer
  .share
  .share_options {
  width: max-content;
  position: absolute;
  right: 0;
  top: 0;

  background-color: var(--main-background);

  border: 1px solid var(--share-dropdown-border);
  box-shadow: 0 0 15px 0 var(--share-dropdown-boxShadow);
  border-radius: 15px;
  overflow: hidden;

  display: none;
}
.content_container
  .posts_container
  .post
  .content
  .footer
  .share
  .share_options
  ul {
  list-style: none;
}

.content_container
  .posts_container
  .post
  .content
  .footer
  .share
  .share_options
  li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}
.content_container
  .posts_container
  .post
  .content
  .footer
  .share
  .share_options
  li:hover {
  background-color: var(--share-dropdown-border);
}
.content_container
  .posts_container
  .post
  .content
  .footer
  .share
  .share_options
  li
  .share_list_item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content_container
  .posts_container
  .post
  .content
  .footer
  .share
  .options_icon {
  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}
.content_container
  .posts_container
  .post
  .content
  .footer
  .share_options
  .options_icon
  img {
  width: 15.75px;
  height: 15.75px;
  object-fit: cover;
  object-position: center;
}
/* ----------------------- */
/* hover effects for icons */
/* ----------------------- */
.content_container .posts_container .post .content .footer .comments:hover img {
  filter: invert(39%) sepia(23%) saturate(406%) hue-rotate(163deg)
    brightness(87%) contrast(84%);
}
.content_container .posts_container .post .content .footer .comments:hover {
  color: var(--comment-color);
}
.content_container
  .posts_container
  .post
  .content
  .footer
  .comments:hover
  .icon {
  background-color: var(--comment-img-color);
}
.content_container .posts_container .post .content .footer .likes:hover img {
  filter: invert(47%) sepia(100%) saturate(7483%) hue-rotate(322deg)
    brightness(103%) contrast(95%);
}
.content_container .posts_container .post .content .footer .likes:hover {
  color: var(--like-color);
}
.content_container .posts_container .post .content .footer .likes:hover .icon {
  background-color: var(--like-img-color);
}
.content_container .posts_container .post .content .footer .views:hover img {
  filter: invert(39%) sepia(23%) saturate(406%) hue-rotate(163deg)
    brightness(87%) contrast(84%);
}
.content_container .posts_container .post .content .footer .views:hover {
  color: var(--view-color);
}
.content_container .posts_container .post .content .footer .views:hover .icon {
  background-color: var(--view-img-color);
}
.content_container .posts_container .post .content .footer .share:hover img {
  filter: invert(39%) sepia(23%) saturate(406%) hue-rotate(163deg)
    brightness(87%) contrast(84%);
}
.content_container .posts_container .post .content .footer .share:hover .icon {
  background-color: var(--view-img-color);
}
/* ----------------- */
/* actions */
/* ----------------- */
.content_container
  .posts_container
  .post
  .content
  .footer
  .footer_action_container {
  display: flex;
  align-items: center;
  font-family: var(--description_font);
}
.content_container
  .posts_container
  .post
  .content
  .footer
  .footer_action_container:not(:last-child) {
  margin-right: 50px;
}

/* ------------------- */
/* responsive 
  /* ------------------- */

@media screen and (max-width: 530px) {
  .content_container .content_header_desktop {
    display: none;
  }
  .content_container .content_header_mobile {
    display: flex;
  }
}
@media screen and (max-width: 430px) {
  .content_container .posts_container .post .content .footer .icon {
    margin-right: 5px;
  }
  .content_container
    .posts_container
    .post
    .content
    .footer
    .footer_action_container:not(:last-child) {
    margin-right: 20px;
  }
}
