:root {
  /* colors */
  --main-background: #f7f5ec;
  --main-header-color: #384d48;
  --main-accent-color: #a2dafd;
  --main-accent-color-hover: #93c8ea;
  --main-accent-color-txt: #77a2bd;

  --main-element-background: #f5edca;
  --main-accent-element-background: #0f172a;

  --description_font: "Barlow", sans-serif;
  --title_font: "Montserrat", sans-serif;

  --border_color: black;

  /* how it works colors */
  --slider-track: rgb(196, 196, 196);

  /* home */
  --nav-background: #f7f5ec94;

  /* hover effect for post */
  --post-hover: #d8d7cfaa;

  /* post icon color scheems */
  --comment-color: rgb(83, 100, 113);
  --comment-img-color: rgba(83, 100, 113, 0.3);
  --like-color: rgb(249, 24, 128);
  --like-img-color: rgba(249, 24, 128, 0.1);
  --view-color: rgb(83, 100, 113);
  --view-img-color: rgba(83, 100, 113, 0.3);

  /* share dropdown colors */
  --share-dropdown-border: rgb(210, 210, 210);
  --share-dropdown-boxShadow: rgb(210, 210, 210);
  --share-dropdown-background: rgb(210, 210, 210);

  /* stats page */
  --stats-container-background: #e4e2da;

  /* payout page */
  --payout-container-background: #e4e2da;
  --payout-container-accent-background: #f0efe7;
  --payout-fee-color: #e94307;

  /* leaderboard page */

  --leaderboard-background: #93c8ea;
  --leaderboard-container-background: #e4e2da;
  --leaderboard-border-bottom: rgb(182, 180, 180);

  /* profile dropdown colors */

  --profile-input-background: rgb(182, 182, 182);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  text-decoration: none;
  font-size: 18px;
}
#root {
  width: 100%;
  height: 100vh;

  margin: 0 auto;

  background-color: var(--main-background);
  display: flex;
  justify-content: center;
}

a {
  color: black;
}

img {
  /* user-drag: none; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.screen {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 530px) {
  #root {
    flex-direction: column-reverse;
  }
}
