/* -------------- */
/* header */
/* -------------- */
.content_container .dashboard_header {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
}
.content_container .dashboard_header .page_title {
  font-size: 30px;
  font-family: var(--title_font);
  font-weight: bold;

  margin-bottom: 40px;
}
/* -------------- */
/* content */
/* -------------- */
.content_container .dashboard_header .content {
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: space-between;
}
.content_container .dashboard_header .content .amount_earned {
  width: max-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--title_font);
}
.content_container .dashboard_header .content .amount_earned span:first-child {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}
.content_container .dashboard_header .content .flex_money_BTN {
  width: max-content;
  display: flex;
  align-items: center;

  background-color: var(--main-accent-element-background);
  color: white;

  font-family: var(--title_font);
  font-weight: bold;
  font-size: 16px;

  padding: 15px 15px;

  border-radius: 10px;

  cursor: pointer;
}
.content_container .dashboard_header .content .flex_money_BTN:hover {
  background-color: #0f172ae7;
}
.content_container .dashboard_header .content .flex_money_BTN .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.content_container .dashboard_header .content .flex_money_BTN .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: invert(96%) sepia(100%) saturate(12%) hue-rotate(237deg)
    brightness(103%) contrast(103%);
}
/* -------------- */
/* stats container */
/* -------------- */

.content_container .stats_contianer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.content_container .stats_contianer div {
  width: 45%;
  display: flex;
  flex-direction: column;

  background-color: var(--stats-container-background);

  padding: 20px;

  border-radius: 10px;

  font-family: var(--description_font);
}
.content_container .stats_contianer div .icon {
  width: 30px;
  height: 30px;
  background-color: black;

  margin-bottom: 20px;
}
.content_container .stats_contianer div .title {
  opacity: 0.5;

  font-size: 14px;
}
.content_container .stats_contianer div .quantity {
  font-weight: bold;
  font-size: 35px;
}

.content_container .stats_contianer div span:last-child {
  opacity: 0.5;
  font-size: 12px;
}
/* -------------- */
/* transaction history container
  /* -------------- */

.content_container .transaction_history_container {
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 20px;
}
.content_container .transaction_history_container .title {
  font-size: 20px;
  font-weight: bold;
  font-family: var(--title_font);

  margin-bottom: 30px;
}
.content_container .transaction_history_container .transactions {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content_container .transaction_history_container .transactions .date {
  opacity: 0.6;
  font-family: var(--title_font);
  margin-bottom: 10px;
}
/* -------------- */
/* ads stats
  /* -------------- */

.content_container .transaction_history_container .transactions .ads_stats {
  display: flex;
  align-items: center;

  padding: 10px;
  border-radius: 10px;

  font-family: var(--description_font);

  background-color: var(--stats-container-background);

  margin-bottom: 30px;
}
.content_container
  .transaction_history_container
  .transactions
  .ads_stats
  .icon {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 10px;

  margin-right: 10px;
}

.content_container
  .transaction_history_container
  .transactions
  .ads_stats
  .icon
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.content_container
  .transaction_history_container
  .transactions
  .ads_stats
  .text_stats {
  display: flex;
  flex-direction: column;

  margin-right: auto;
}
.content_container
  .transaction_history_container
  .transactions
  .ads_stats
  .text_stats
  span:first-child {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}
.content_container
  .transaction_history_container
  .transactions
  .ads_stats
  .text_stats
  span:last-child {
  font-size: 14px;
}

/* ------------- */
/* responsive */
/* ------------- */
@media screen and (max-width: 430px) {
  .content_container .dashboard_header .content {
    flex-direction: column;
    align-items: center;
  }
  .content_container .dashboard_header .content .amount_earned {
    margin-bottom: 20px;
  }

  /* stats container */

  .content_container .stats_contianer {
    flex-direction: column;
  }

  .content_container .stats_contianer div {
    width: 100%;
  }
  .content_container .stats_contianer div:not(:last-child) {
    margin-bottom: 20px;
  }
}
